/*=========General Site Styles==========*/
body {
  font-family: Poppins, Georgia, 'Times New Roman', Times, sans-serif;
  color: #000;
  overflow-x: hidden;
  text-align: center;
  background-color: #fff;
}

h1,
h2,
h3,
.big-header-text {
  color: #00cc6a;
  font-family: Lora, Tahoma, Geneva, Verdana, serif;
  text-transform: uppercase;
  margin: 10px auto;
}

.big-header-text {
  font-size: 5em;
}

i {
  font-style: normal;
}

a i {
  color: #fff;
}

/*========Footer==========*/
footer {
  background: #343a40;
  height: 150px;
  padding-top: 30px;
  color: #fff;
}

/*=================Home Page Styles==================*/
.about-peek {
  text-align: justify;
  font-size: 1.5rem;
}

/*========Carousel==========*/
.home-banner {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-weight: bold;
  padding: 20px 10px 10px 10px;
  min-height: 30rem;
}

.banner-text {
  position: relative;
  top: 22rem;
}

/*========Services==========*/
/*================About Page===================*/
#about {
  /*========About-Banner==========*/
}

#about blockquote {
  font-family: 'Lucida Handwriting', 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  color: #cfd8dc;
}

#about section {
  padding: 15px;
}

#about section:not(.our-pastors) {
  font-size: 1.65rem;
}

#about section:nth-of-type(even) {
  background-color: #263238;
  color: #fff;
}

#about .about-banner {
  height: 20rem;
  background-image: url(../img/about-banner.JPG);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#about .about-banner-caption {
  position: relative;
  top: 10rem;
}

/*========About Our Pastors==========*/
.our-past ors .row > div,
.locations .row > div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 25rem;
  text-align: left;
  text-transform: uppercase;
  border: 5px solid #263238;
}

.our-past ors .pastor-1,
.locations .pastor-1 {
  background-image: url(../img/pst-george.jpg);
}

.our-past ors .pastor-2,
.locations .pastor-2 {
  background-image: url(../img/pst-helen.JPG);
}

.our-past ors .pastor-3,
.locations .pastor-3 {
  background-image: url(../img/pst-francis.jpg);
}

.our-past ors .pastor-4,
.locations .pastor-4 {
  background-image: url(../img/pst-robert.jpg);
}

.our-past ors .pastor-5,
.locations .pastor-5 {
  background-image: url(../img/pst-patrick.jpg);
}

.our-past ors .pastor-6,
.locations .pastor-6 {
  background-image: url(../img/pst-imo.jpg);
}

.our-past ors .pastor-peek-text,
.locations .pastor-peek-text {
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #fff;
  top: 16rem;
  text-align: center;
}

.our-past ors .pastor-name,
.locations .pastor-name {
  font-size: 2rem;
}

.our-past ors .pastor-name .small-text,
.locations .pastor-name .small-text {
  font-weight: normal;
  font-size: 0.5rem;
}

.our-past ors .pastor .socials,
.locations .pastor .socials {
  text-align: center;
}

.our-past ors .pastor-role-location,
.locations .pastor-role-location {
  color: #e3f113;
}

/*========Media Queries==========*/
@media screen and (min-width: 992px) {
  .our-pastors .row > div {
    background-clip: padding-box;
  }
  .our-pastors .pastor-peek-text {
    top: 18rem;
    text-align: center;
  }
  .our-pastors .pastor-name {
    font-size: 1.3rem;
  }
  .our-pastors .pastor-name .small-text {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 543.99px) {
  /*========Home Page==========*/
  /*======Carousel======*/
  .banner {
    padding: 20px 10px 10px 10px;
    min-height: 30rem;
  }
  /*======Services======*/
  .services {
    margin: 10px;
  }
  /*========About Page==========*/
  .big-header-text {
    font-size: 1.5rem;
  }
}
